.c-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.c-container > img {
  width: 9rem;
}

/* Mobile screen */
@media (max-width: 768px) {
  .c-container {
    flex-direction: column;   /* stack logos vertically */
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .c-container > img {
    width: 8rem;
  }
}